body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.75rem;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #000;
  padding: 0.5rem;
}

thead, tfoot {
  background-color: #660063;
  color: white;
}

td:last-of-type {
  text-align: center;
}

tr:nth-child(even) {
  background-color: #ddd;
}

table a {
  color: #6096ba;
  text-decoration: none;
}

table a:hover {
  text-decoration: underline;
}

.img-responsive {
  max-width: 100%;
} 

